body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

html {
    /* font-family from google fonts */
    color: black;
    font-family: "papyrus", fantasy;
    font-size: large;
    height: 100%;
    width: 100%;
}

/*navbar start*/

.logo {
    grid-area: logo;
    padding-top: 6vh;
    padding-left: 4vw;
}

.logoName {
    color: white;
    font-size: 40px;
}

.navbar {
    grid-area: navbar;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;

    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 6vh;
    padding-left: 5vw;
    padding-right: 1vw;
}

#here {
    border-bottom: 4px solid white; 
}

.navbar > ul > li > a {
    color: white;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 26px;
    text-decoration: none;
}

.navbar > ul > li > a:hover {
    color: #FFDEAD;
    font-size: 30px;
}
/*navbar slutt*/

.forside {
    background-image: linear-gradient(rgba(20, 19, 19, 0.688),
    rgba(0, 0, 0, 0.5)) , url(./img/gate.jpeg);
    background-position-y: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: 
        "logo  navbar navbar navbar navbar"
        "info  info   info   info   info"
}

.tittel {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 3vh;
    width: 96vw;
}

.tittel > h4 {
    font-size: 8vh;
    position: relative;
    display: inline-block;
    color: white;
}

.tittel h4::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.meny {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: x-large;
    margin: 0px auto; 
    background-color: #faf3de;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.meny-container {
    grid-area: info;
}

@media only screen and (min-width:601px) and (max-width:1049px) {
    .forside {
        background-image: linear-gradient(rgba(20, 19, 19, 0.688),
        rgba(0, 0, 0, 0.66)) , url(/img/gate.jpeg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% 10% auto;
        grid-template-areas: 
            "logo"
            "navbar"
            "info"
    }

    .logo {
        grid-area: logo;
        text-align: center;
        padding-top: 2%;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 40px;
        background-color: black;
    }

    .logoName {
        color: white;
        font-size: 35px;
    }

    .navbar {
        grid-area: navbar;
        background-color: #9F8C76;
    }
    
    .navbar ul {
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding-top: 0;
        margin: 0;
        padding-left: 0px;
        list-style: none;
        align-items:center;
    }

    .navbar ul  > li > a {
        text-decoration: none;
        color: white;
        font-size: 22px;
    }

    #here {
        border-bottom: 2px solid white;
    }
}

@media only screen and (max-width:600px) {
    .forside {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% 45% auto;
        grid-template-areas: 
            "logo"
            "navbar"
            "info"
    }

    .logo {
        grid-area: logo;
        text-align: center;
        padding-top: 2.5vh;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 40px;
        background-color: black;
        width: 100vw;
    }

    .logoName {
        color: white;
    }

    .navbar {
        grid-area: navbar;
        background-color: #9F8C76;
        height: 450px;
    }

    .navbar > ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        border: 1px solid #555;
        position: relative;
        height: 100%;
        display: inline-block;
        justify-content: space-evenly;
        align-items: stretch;
        vertical-align: middle;
    }

    .navbar > ul > li {
        display: flex;
        align-items:center;
        width: 100vw;
        text-align: center;
        height: 5%;
        justify-content:center;
        border-bottom: 2px solid black;
        height: 90px;
    }
    
    .navbar > ul > li > a {
        text-decoration: none;
        color: white;
        padding-top: 4px;
        font-size: 2.25vh;
    }

    .navbar > ul > li:nth-child(4) {
        background-color: #684817;
        text-decoration: underline;
    }

    #here {
        border-bottom: 0;
    }

    .navbar > ul > li > a:hover {
        color: white;
        font-size: 2.25vh;
    }
}