/* PC SLUTT */
@media only screen and (min-width:1050px) {
    html {
        color: black;
        font-family: "papyrus", fantasy;
        font-size: large;
        height: 100%;
        width: 100%;
    }
    
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    }

    .container {
        background-image: linear-gradient(rgba(20, 19, 19, 0.688),
        rgba(0, 0, 0, 0.66)) , url(/img/gate.jpeg);
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: grid;
        overflow-y: hidden;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 10% auto 10%;
        grid-template-areas: 
            "logo  navbar navbar navbar navbar"
            "info  info   info   info   info"
            "footer footer footer footer footer"
    }

    .logo {
        grid-area: logo;
        padding-top: 5vh;
        padding-left: 3vw;
    }

    .logoName {
        color: white;
        font-size: 5.5vh;
    }
    
    .navbar {
        grid-area: navbar;
    }
    
    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-evenly;
    
        margin: 0;
        padding: 0;
        list-style: none;
        padding-top: 6vh;
        padding-left: 5vw;
        padding-right: 1vw;
    }
    
    #here {
        border-bottom: 4px solid white; 
    }
    
    .navbar > ul > li > a {
        color: white;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 3.5vh;
        text-decoration: none;
    }
    
    .navbar > ul > li > a:hover {
        color: #FFDEAD;
        font-size: 4.5vh;
    }

    /* Navbar slutt*/

    .info {
        grid-area: info;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items:center;
    }

    .kort {
        display: inline-block;
        width: 40vw;
        height: 70vh; 
        background-color: #4C4E52;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.9);
        border: 1px solid #4C4E52;
    }

    .kort-text{
        grid-area: text;
        margin: 13%;
        color: white;
    }
    
    
    .kort-text p{
        color: white;
        font-size: 18px;
     
        font-weight: 300;
        margin: 0;
    }

    .kort-text p:nth-child(3) {
        margin-top: 2vh;
        margin-bottom:7vh;

    }
    

    #image1 {
        width: 40vw;
        height: 70vh; 
        padding-top: 10px;
        display: inline-block;
        -webkit-animation: rise 4s;
        animation: rise 4s;
     
        transition: 0.5s ease;
        cursor: pointer;
    }

    #image1:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    }

    .infoboks {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items:center;
        padding-top: 10vh;
    }

    /*Kode for knappen*/
    
    .knapp{
        width: 40%;
        height: 8vh;
        
        border-radius: 60px;
        color: black;
        
        margin-left: 30%;
    }
    
    
    .knapp:hover {
        background: #FFDEAD;
        transition: 0.5s ease;
    }
    
    h1{
        grid-area: "overskrift";
        display: flex;
        color: #FFDEAD;
        overflow-wrap:break-word;
        
        font-size: 40px;
        font-weight: 80;
        
        width: 100%;

        margin-bottom: 0;
        
        /* De tre linjene med koder under er viktige for typer animasjonen */
        white-space: nowrap; 
        overflow: hidden;
        animation: type 4s steps(12);
    }
    
    /* Type animasjon --> animasjonen som for overskriften til å "skrives" inn */
    
    @keyframes type {
        0%{
            width: 0%;
        }
        
        25%{
            width: 85%;
        }
    }
    
    .footer {
        grid-area: footer;
    }

}

/* PC SLUTT */


/* TABLET START */
@media only screen and (min-width:670px) and (max-width:1049px) {
    html {
        color: white;
        font-family: "papyrus", fantasy;
        font-size: large;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    }

    .container {
        height: 100%;
        width: 100%;
        display: grid;
        overflow-y: hidden;
        grid-template-columns: auto;
        grid-template-rows: 11% 10% auto;
        grid-template-areas: 
            "logo"
            "navbar"
            "info"
    }

    .logo {
        grid-area: logo;
        text-align: center;
        padding-top: 2vh;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 1vh;
        background-color: black;
    }

    .logoName {
        color: white;
        font-size: 7vh;
    }

    .navbar {
        grid-area: navbar;
        background-color: #9F8C76;
    }
    
    .navbar ul {
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    
        margin: 0;
        padding-left: 0px;
        list-style: none;
        align-items:center;

        padding-top: 2px;

    }

    .navbar ul  > li > a {
        text-decoration: none;
        color: white;
        font-size: 3.5vh;
    }

    #here {
        border-bottom: 2px solid white;
    }

    .info {
        grid-area: info;
        text-align: center;
        padding-top: 2vh;
    }

    .info {
        grid-area: info;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items:center;
        background-image: linear-gradient(rgba(20, 19, 19, 0.688),
        rgba(0, 0, 0, 0.66)) , url(/img/gate.jpeg);
        background-position: center;
        background-size: cover;
        padding-top: none;
    }

    .kort {
        display: inline-block;
        width: 40%;
        height: 60vh; 
        background-color: #4C4E52;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.9);
        border: 1px solid #4C4E52;
    }

    .kort-text{
        grid-area: text;
        margin: 12%;
        color: white;
    }
    
    
    .kort-text p{
        color: white;
        font-size: 2vh;
    }

    .kort-text p:nth-child(2) {
        margin-bottom: 20px;
    }
    
    #image1 {
        width: 100%;
        height: 60vh;
        padding-top: 10px;
        display: inline-block;

        -webkit-animation: rise 4s;
        animation: rise 4s;
        transition: 0.5s ease;
        cursor: pointer;
    }

    .infoboks {
        display: flex;
        height: 100%;
        align-items:center;
        justify-content: center;
        width: 100%;
    }

    .footer {
        display: none;
    }

    .infoboks {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items:center;
    }

    /*Kode for knappen*/
    
    .knapp{
        width: 35%;
        height: 6vh;

        border-radius: 60px;
        color: white;
        background-color:  #c8b6a2;
        border: 2px solid rgb(57, 56, 56);
        box-shadow: 0px 8px 15px black;
    }
    
    
    h1 {
        grid-area: "overskrift";
        display: flex;
        color: #FFDEAD;
        overflow-wrap:break-word;
        
        font-size: 4vh;
        font-weight: 80;
        
        width: 100%;
        text-align: center;
        justify-content: center;
    }
        
}
/* TABLET SLUTT */ 

/* MOBIL START */ 
@media only screen and (max-width:669px) {
    html {
        color: black;
        font-family: "papyrus", fantasy;
        font-size: large;
        height: 100%;
        width: 100%;
    }
    
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    }

    .container {
        height: 110%;
        width: 100%;
        display: grid;
        overflow-y: scroll;
        grid-template-columns: auto;
        grid-template-rows: 10% 45% auto;
        grid-template-areas: 
            "logo"
            "navbar"
            "info"
    }

    .logo {
        grid-area: logo;
        text-align: center;
        padding-top: 2vh;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 1vh;
        background-color: black;
    }

    .logoName {
        color: white;
        font-size: 7vh;
    }

    .navbar {
        grid-area: navbar;
        background-color: #9F8C76;

    }

    .navbar > ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        border: 1px solid #555;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        vertical-align: middle;
    }

    .navbar > ul > li {
        display: flex;
        align-items:center;
        width: 100%;
        text-align: center;
        height: 100%;
        justify-content:center;
        border-bottom: 2px solid black;
    }
    
    .navbar > ul > li > a {
        text-decoration: none;
        color: white;
        padding-top: 4px;
        font-size: 2.5vh;
    }

    .navbar > ul > li:nth-child(2) {
        background-color: #684817;
        text-decoration: underline;
    }

    .kort-text > h1 {
        text-align: center;
        color: white;
        height: 20vh;
        padding: 30% 0 0;
        margin-top: 0;
        margin-bottom: 0;
        background-image: linear-gradient(rgba(20, 19, 19, 0.688),
        rgba(0, 0, 0, 0.66)) , url(/img/gate.jpeg);
        background-position: center;
        background-size: cover;

    }

    .kort-text {
        background-color: #4C4E52;
        height: 90vh;
    }

    .kort-text > p {
        color: white;
        margin-top: 4vh;
        margin-bottom: 5vh;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    #image1 {
        display: none;
    }

    .knapp{
        width: 40%;
        height: 8%;

        border-radius: 60px;
        color: black;
        background-color:  #c8b6a2;
        border: 2px solid white;

        margin-left: 30%;
    }
    


}


