

*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;

 
  
}

html {
    /* font-family from google fonts */
    color: black;
   
    font-family: "papyrus", fantasy;
    font-size: large;
    height: 100%;
    width: 100%;
}

a {
 text-decoration: none;
 color: white;   
}

/*navbar start*/

#header {
    position: relative;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-top: 1.65%;
    margin-left: 1.6%;
    width: 8%;
    height: 150%;
    padding-top: 1.60%; 
}

.navbar ul {
    padding-right: 4%;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px ;
    display: inline-block; 
    position: relative;  
    margin-top: 45px;
    font-size: 1.1rem;
}

.navbar ul li a {
text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    background: #FFDEAD;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.navbar ul li:hover::after {
    width: 100%;
    transition: 0.8s;

}
/*navbar slutt*/














.section1{
    background-image: linear-gradient(rgba(20, 19, 19, 0.688),
    rgba(0, 0, 0, 0.5)) , url(./img/gate.jpeg);
    background-position: center;
    background-size: cover;
   
    




    width:100%;
    height:100%;
    overflow: hidden;

/* For å få div classene til å stå ved siden av hverandre */
    display: inline-flex;
    flex-wrap: wrap;

   

   

}


/* For å endre kortet og bildet som flex*/
.section1>div{
    margin: 0px;
    
}

.section1>.kort{
    margin-left: 21.9%; /* For å dytte kortet mot høyre side slik at kortet og bildet plasseres i midten*/
}



.kort{

width: 40%;
height: 510px; 



    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 2%;

    grid-template-areas: "overskrift" "text";
    



    background-color: #4C4E52;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.9);

   justify-content: center; 


}




.kort-text{
    grid-area: text;
    margin: 13%;
    color: white;

}


.kort-text p{
    color: white;
    font-size: 20px;
 
    font-weight: 300;

    margin-top: 20px;
}


#image1{
   
   height: 53%;
    width: 35%; 

  
   position: absolute;

   -webkit-animation: rise 4s;
   animation: rise 4s;

   transition: 0.5s ease;
   cursor: pointer;
 
}

.bilde1{
  


   

    height: 52%;

     width: 20%; 
   

}

#image1:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);



}



/*Kode for knappen*/

.knapp{

    width: 50%;
    height: 20%;

    border-radius: 60px;
   color: black;


    margin-left: 20%;
    margin-top: 5%;
}

.knapp:hover{
    background: #FFDEAD;
    transition: 0.5s ease;
}




h1{

    grid-area: "overskrift";

    display: flex;
    color: #FFDEAD;


    font-size: 18px;
    font-weight: 80;



    /*
    De fire linjene med koder under er viktige for typer animasjonen
     */
   
    white-space: nowrap;
    overflow: hidden;
    /* border-right:1px solid white; */
    animation: type 4s steps(12);
 


}

/* Type animasjon*/
@keyframes type {
    0%{
        width: 0%;
    }
    25%{
        width: 85%;

    }
}




/* Animasjoner */
@-webkit-keyframes rise {
    from {

        -webkit-transform: rotate(60deg) translateX(70px);
        transform: rotate(70deg) translateX(60px);
        opacity: 0.01; /* Med opacity kan vi bestemme hvor synlig kortene er i begynnelsen fordi vi er i "from" */

    }
    to {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0);
        opacity: 1; /* Nå kan vi bestemme hvor synlige kortene skal være etter at de har hevet seg helt*/

    } }






































/* Tablet versjon */

    @media only screen and (max-width:1050px){
        *{
            margin: 0;
            padding: 0;
        }
    
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    
    }


    .kort{

        width: 560px;
        height: 510px; 
        
        
        
            display: grid;
            grid-template-columns:20%;
            grid-template-rows: 100%;
        
            grid-template-areas: "overskrift" "text";
            
        
        
        
            background-color: #4C4E52;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.9);
        
           justify-content: center; 
        
        
        }
    

        #image1{
          
        
            height: 500px;
            width: 35%;
            position: absolute;

            pointer-events: none; /* For å fjerne hover effekten fra bildet*/

        }
        
        .bilde1{
           
        
           animation: none; 
            cursor: pointer;
            height: 20%;
           
        
        }
        
       
        .section1{
            background-image: linear-gradient(rgba(20, 19, 19, 0.688),
            rgba(0, 0, 0, 0.5)) , url(./img/gate.jpeg);
            background-position: center;
            background-size: cover;
           
        
        
            width:100%;
            height:100%;
            overflow: hidden;
        
       

       /* For å få div classene til å stå ved siden av hverandre */
    display: inline-flex;
    flex-wrap: wrap;

       
        
        }
        
        
        .section1>div{
            margin: 0px;
          
          
         
        }
        
      /*  .section1>.kort{
          
            
            } */


    
    
        .kort{
    
    
            width: 35%;
            height: 500px; 
            
           
            
               
                grid-template-columns:100%;
                grid-template-rows: 5%;
            
                grid-template-areas: "overskrift" "text";

                justify-content: center;
            
                background-color: #4C4E52;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.9);
                

            
            }
            
           
            
            
            .kort-text{
            

                margin: 8%;
                color: white;
            
            }
            
            
            .kort-text p{
                color: white;
                font-size: 18px;
                padding-top: 10px;
             
              
            }
            
            
            
            
           
            
            .knapp{
            
              
    
                width: 40%;
                height: 12%;
            
                border-radius: 60px;
               color: black;
            
            
                margin-left: 26%;
              
            
             align-items: center;
            }
            
            .knapp:hover{
                background: #FFDEAD;
                transition: 0.5s ease; }
            
            
            h1{
            
                display: flex;
                color: #FFDEAD;

                grid-area: "overskrift";
            
            
                font-size: 12px;
                font-weight: 80; }

    }

























































    /* FOR MOBIL */
@media only screen and (max-width:800px){

    *{
        margin: 0;
        padding: 0;
    }

body{
    margin: 0;
    padding: 0}



    .section1{
        background-image: linear-gradient(rgba(20, 19, 19, 0.688),
        rgba(0, 0, 0, 0.5)) , url(./img/gate.jpeg);
        background-position: center;
        background-size: cover;
       
    
    
        width:100%;
        height:100%;
        overflow: hidden;
    
   justify-content: center;

   
    
    }
    
    
    .section1>div{
        margin: 0px;
      

        margin-top: 30%;

        margin-right: 140px;
       
      
    }
    
 /*  .section1>.kort{

    }  */
    


    .kort{



            width: 140%;
            height: 550px; 
   


/* Grid koder */
            display: grid;
            grid-template-columns:100%;
            grid-template-rows: 5%;
            grid-template-areas: "overskrift" "text";
            
        


            background-color: #4C4E52;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.9);
        
            justify-content: center;

 
        
        }
        
        #image1{
            display: none;
        }
        
        
        .kort-text{
            grid-area: text;
            margin: 8%;
            color: white;
        
        }
        
        
        .kort-text p{
            color: white;
            font-size: 18px;
            padding-top: 1px;
         
            
          
        }
        
        
        
        
        /*Kode for knappen*/
        
        .knapp{
        
          

            width: 40%;
            height: 15%;
        
            border-radius: 60px;
           color: black;
        
        
            margin-left: 26%;
            margin-top: 10%; 
        
          align-items: center;
        }
        
        .knapp:hover{
            background: #FFDEAD;
            transition: 0.5s ease; }
        
        
        h1{
        

         grid-area: "overskrift";


            display: flex;
            color: #FFDEAD;
        
            
        
          font-size: 80%;
         

          /*  animation: none;  */ /* For å fjerne animasjon effekten */


padding-right: 40px;

           width: 120%;
          
           border-right:none;
           animation: type 4s steps(17);

           margin-right: 25px;

          

}


@keyframes type {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;

    }
}







}