body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: auto;
    width: 100%;
}

html {
    /* font-family from google fonts */
    color: black;
    font-family: "papyrus", fantasy;
    font-size: large;
    height: 100%;
    width: 100%;
}

a {
 text-decoration: none;
 color: white;   
}

.midcontainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.welcomeText { 
   margin-top: 11%;
   justify-content: center;
   align-items: center;
   text-align: center;
}


/*navbar start*/

#header {
    position: relative;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-top: 1.65%;
    margin-left: 1.6%;
    width: 8%;
    height: 150%;
    padding-top: 1.60%; 
}

.navbar ul {
    padding-right: 4%;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px ;
    display: inline-block; 
    position: relative;  
    margin-top: 45px;
    font-size: 1.1rem;
}

.navbar ul li a {
text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    background: #FFDEAD;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.navbar ul li:hover::after {
    width: 100%;
    transition: 0.8s;

}
/*navbar slutt*/

/* Midpart start*/
/* Bakgrunnbilde hentet fra Unsplash.com, tatt av Tony Lee*/
#FrontPage {
    background-image: linear-gradient(rgba(20, 19, 19, 0.688),
    rgba(0, 0, 0, 0.5)) , url(./img/gate.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

#midpart h1 {
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: hoved_tekst 1s ease forwards;
    animation-delay: 1.5s;
    margin-bottom: 2%;
}

#midpart h1 :nth-child(1){
    animation-delay: 1s;
}

 
#midpart h1 span {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0px;
    background-color: #FFDEAD;
    animation: hoved_tekst_box 1s ease;
    animation-delay: 1s;
}

#midpart h1:nth-child(1) span{
    animation-delay: 1s;
}

#midpart .menu {
display: inline-block;
padding: 12px 25px;
color: #FFDEAD;
background-color: transparent;
border: 2.5px solid #FFDEAD;
border-radius: 25px;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 1px;
margin-top: 20px;
transition: .5s ease;
transition-property: background-color, color;
}

#midpart .menu:hover {
    color: black;
    background-color: #FFDEAD;
}

/* hovedside tekst animasjon */
@keyframes hoved_tekst_box {
    50%{
        left: 0; 
        width: 100%;  
    }
    100%{
        left: 100%;
        width: 0;
    }
}

@keyframes hoved_tekst {
    100%{
        color: white;
}
}
/* Slutt av hovedside tekst animasjon */


/* Nederst text på hjemmesiden for å kilde bilde*/ 
.bottomText {
    display: grid;
    width: 100%;
    padding-top: 5%;
}

.bottomText > p {
    color: white;
    font-size: 0.9em;
    text-align: center;
    margin: 0.8%;
}

/*Midpart ending */



/* FOR MOBIL */
@media only screen and (max-width:800px) {
    body{
        margin: 0;
        padding: 0;
    }

    /*navbar start*/

    .navbar {
        margin-right: 0;
        width: 100%;
    }

    .navbar ul {
        margin-top: 20px;
    }

    .logo {
        margin-left: 25px;
        margin-top: 15px;
    }

     /*navbar slutt*/

}
