body{
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

html {
    /* font-family from google fonts */
    color: black;
    font-family: "papyrus", fantasy;
    font-size: large;
    height: 100%;
    width: 100%;
}

/*navbar start*/

#header {
    position: relative;
}

.navbar {
    width: 100vw;
    height: 5vw;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 3s; 
}

.navbar > a {
    text-decoration: none;
    color: white;   
}

.logo {
    margin-top: 1.65%;
    margin-left: 1.6%;
    width: 8%;
    height: 150%;
    padding-top: 1.60%; 
}

.navbar ul {
    padding-right: 4%;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px ;
    display: inline-block; 
    position: relative;  
    margin-top: 45px;
    font-size: 1.1rem;
}

.navbar ul li a {
text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    background: #FFDEAD;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.navbar ul li:hover::after {
    width: 100%;
    transition: 0.8s;

}
/*navbar slutt*/

p {
    margin: 0;
    padding-top: 2vh;
    padding-left: 2vh;
}

.grid1 {
    background-image: linear-gradient(rgba(20, 19, 19, 0.688),
    rgba(0, 0, 0, 0.5)) , url(./img/gate.jpeg);
    background-position-y: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.header {
    text-align: center;
    font-size: 25px;
    color: white;
}

h1 {
    padding-top: 7%;
    margin-bottom: 0;
    padding-bottom: 7%;
}

h2 {
    padding-top: 2vh;
    padding-left: 2vh;    
    margin: 0;
}

.meny {
    display: flex;
    width: 80%; 
    height: 100%;
    background-color: white;
    align-items: center;
    margin-left: 15vh;
    margin-right: 5vh;
    overflow-x: hidden;
}

.box1 {
    padding-top: 2vh;
}

.box2 {
    padding: 2vh; 
}



/*Bakgrunnsbilde*/
.FrontPageUnder {
    background-image: linear-gradient(rgba(20, 19, 19, 0.688),
    rgba(0, 0, 0, 0.5)) , url(./img/gate.jpeg);
    background-position: center;
}
/*Bakgrunnsbilde ferdig*/







