body{
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: auto;
}

html {
    /* font-family from google fonts */
    color: black;
    font-family: "papyrus", fantasy;
    font-size: large;
    height: 100%;
    width: auto;
}

/*navbar start*/
.logo {
    grid-area: logo;
    text-align: center;
    padding-top: 3%;
    padding-left: 150px;
    float: left;
    margin-right: 120px;
}

.logoName {
    color: white;
    font-size: 40px;
}

.navbar {
    grid-area: navbar;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 6vh;
    padding-left: 5vw;
    padding-right: 1vw;
}

#here {
    border-bottom: 4px solid white; 
}

.navbar > ul > li > a {
    color: white;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 26px;
    text-decoration: none;
}

.navbar > ul > li > a:hover {
    color: #FFDEAD;
    font-size: 30px;
}
/*navbar slutt*/

.forside {
    background-image: linear-gradient(rgba(20, 19, 19, 0.688),
    rgba(0, 0, 0, 0.5)) , url(./img/gate.jpeg);
    background-position-y: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* overskrift */

.tittel {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 3vh;
}

.tittel > h4 {
    font-size: 8vh;
    position: relative;
    display: inline-block;
    color: white;
}

.tittel > h4 > span {
    display: block;
    font-size: 18px;
    font-style: italic;
    margin-bottom: -10px;
    color: white;
}

.tittel h4::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* menyen/innhold */

.meny {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: x-large;
    width: 1350px;
    max-width: 1500px;
    margin: 0px auto; 
    background-color: #faf3de;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    grid-area: info;
}

.img {
    max-width: 200px;
    width: 190px;
    height: 150px;
    margin-right: 30px;
    border: 1px solid #4f301f;
    border-radius: 50%;
}

.egenMeny {
    flex-basis: 600px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #4f301f;
}

.egenMeny:nth-child(1), .egenMeny:nth-child(3), .egenMeny:nth-child(5), .egenMeny:nth-child(7) {
    margin-left: 40px;
}

.egenMeny:nth-child(2), .egenMeny:nth-child(4), .egenMeny:nth-child(6), .egenMeny:nth-child(8) {
    margin-right: 40px;
}

.egenMeny {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.egenMeny > .meny-beskrivelse > h4 {
    text-transform: capitalize;
    font-size: 22px;
    border-bottom: 1px dashed black;
    margin-bottom: 5px;
    padding-bottom: 5px; 
}

.egenMeny:hover img {
    border-radius: 0;

}

.meny-beskrivelse > p > span {
    font-style: italic;
}

.meny-beskrivelse > h4 > span {
    float: right;
    font-style: italic;
}

.egenMeny:nth-child(1), .egenMeny:nth-child(2) {
    padding-top: 5vh;
}

.egenMeny:nth-child(7), .egenMeny:nth-child(8) {
    border-bottom: 0;
}

/* gjemmer bort pris som dukker opp ved mobil versjon */

.prisMobil {
    display: none;
}

/* for TABLET */

@media only screen and (max-width:1350px) {
    /* logo */

    .logo {
        grid-area: logo;
        text-align: center;
        padding-top: 2%;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 1%;
        font-size: 40px;
        background-color: black;
        float: none;
        width: 100%;
    }

    .logoName {
        color: white;
        font-size: 35px;
    }

    /* navbar */

    .navbar {
        grid-area: navbar;
        background-color: #9F8C76;
    }
    
    .navbar ul {
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 0;
        padding-left: 0px;
        list-style: none;
        align-items:center;
    }

    .navbar ul  > li > a {
        text-decoration: none;
        color: white;
        font-size: 22px;
    }

    #here {
        border-bottom: 2px solid white;
    }

    /* menyen/innhold */

    .meny {
        width: auto;
        justify-content: center;
        margin-left: 12%;
        margin-right: 12%;
    }

    .egenMeny {
        margin-left: 20px;
        margin-right: 40px;
    }

    .egenMeny:nth-child(7) {
        border-bottom: 1px solid black;
    }
}

/* for MOBIL */

@media only screen and (max-width:800px) {
    /* overskrift */
    .tittel {
        margin-top: 30px;
    }

    /* logo */

    .logo {
        text-align: center;
        padding-top: 2.5vh;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 1vh;
        font-size: 40px;
        background-color: black;
    }

    .logoName {
        color: white;
    }

    /* navbar */

    .navbar {
        background-color: #9F8C76;
    }

    .navbar > ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        border: 1px solid #555;
        position: relative;
        height: 100%;
        display: inline-block;
        justify-content: space-evenly;
        align-items: stretch;
        vertical-align: middle;
    }

    .navbar > ul > li {
        display: flex;
        align-items:center;
        width: 100%;
        text-align: center;
        justify-content:center;
        border-bottom: 2px solid black;
        height: 90px;
    }

    .navbar > ul > li > a:hover {
        color: white;
        font-size: 2.25vh;
    }
    
    .navbar > ul > li > a {
        text-decoration: none;
        color: white;
        padding-bottom: 10px;
        font-size: 2.25vh;
    }

    .navbar > ul > li:nth-child(3) {
        background-color: #684817;
        text-decoration: underline;
    }

    #here {
        border-bottom: 0;
    }

    /* meny/innhold */

    .meny img {
        display: none;
    }

    .meny {
        margin-left: 0;
        margin-right: 0;
    }

    .egenMeny {
        margin-left: 40px;
    }

    .egenMeny:nth-child(7) {
        border-bottom: 1px solid black;
    }

    .egenMeny:nth-child(2) {
        padding-top: 0;
    }

    .egenMeny:nth-child(1) {
        padding-top: 30px;
    }

    .meny-beskrivelse {
        width: 100%;
    }
}

/* for enda mindre skjermer, fikser visning av pris */

@media only screen and (max-width:430px) {
    .meny-beskrivelse h4 span {
        display: none;
    }

    .prisMobil {
        font-style: italic;
        display: inline;
        font-weight: bold;
        font-size: 22px;
    }
}
