
* {
    padding: 0;
    margin: 0; 
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "papyrus", fantasy;
    font-size: large;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(20, 19, 19, 0.688),
    rgba(0, 0, 0, 0.66)) , url(./img/gate.jpeg);
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
}


header {
    background-color: #474646;
}

li {
    list-style: none;
    padding-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.nav-meny > li > a {
    font-size: x-large;
} 

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-meny {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.logo {
    margin-top: 15px;
    font-size: 1.8rem;
    color: white;
}

.link {
    transition: 0.7s ease;
}

.link:hover {
    color: dodgerblue;
}

.midbottom {
    padding-top: 25vh;
}

.welcomeText {
    width: 100%;
    text-align: center;
    color: white;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.bottomText {
    text-align: center;
    color: white;
}

#midpart h1 {
    display: block;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: hoved_tekst 1s ease forwards;
    animation-delay: 1.5s;
    margin-bottom: 2%;
    width: 100%;
}

#midpart h1 :nth-child(1){
    animation-delay: 1s;
}

#midpart .menu {
    display: inline-block;
    padding: 12px 25px;
    color: #FFDEAD;
    background-color: transparent;
    border: 2.5px solid #FFDEAD;
    border-radius: 25px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    transition: .5s ease;
    transition-property: background-color, color;
}
    
#midpart .menu:hover {
    color: black;
    background-color: #FFDEAD;
}
 

/* hovedside tekst animasjon */
@keyframes hoved_tekst_box {
    50%{
        left: 0; 
        width: 100%;  
    }
    100%{
        left: 100%;
        width: 0;
    }
}

@keyframes hoved_tekst {
    100%{
        color: white;
    }
}
/* Slutt av hovedside tekst animasjon */

 
#midpart h1 span {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0px;
    background-color: #FFDEAD;
    animation: hoved_tekst_box 1s ease;
    animation-delay: 1s;
}

.bottomText {
    display: grid;
    width: 100%;
    padding-top: 10vh;
}

.bottomText > p {
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 2vh;
}



@media (max-width:980px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) { 
        transform: translateY(8px) rotate(-45deg);
    }

    .nav-meny {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition:0.3s;
        z-index: 9;
    }

    .valg {
        margin: 16px 0;
    }

    .nav-meny.active {
        left: 0;
    }

    .midbottom {
        position: relative;
    }







}
